<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="home">
        <h2>Real Time Sensor Monitoring </h2>
        {% for i in range(0, len) %}
            <p>Sensor {{i}}</p>       
            <div class="chart" id="bargraph{{i}}">
                <script>
                    // var idv_plot = {{ plot[i] }};
                    var graphs = {{plot[i] | safe}};
                    Plotly.plot('bargraph{{i}}',graphs,{});
                </script>
            </div>
        {% endfor %}
   </div>
   {% endblock %}
</body>
</html>