<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="profile">
        <h2>Welcome to Home Sensor, {{user_info['given_name']}}!</h2>
    </div>
    <div class="weather">
        <h3>Current Weather Around You</h3>
        {% if data.country_code and data.coordinate and data.temp and data.pressure and data.humidity %}
        <div class="col-md-6 col-md-offset-3">
        <!-- <p>country code : {{data.country_code}}</p> -->
        <p>Real-Time Weather Info in {{data.cityname}}</p>
        <!-- <p>coordinate : {{data.coordinate}}</p> -->
        <p>Temperature : {{data.temp_cel}}</p>
        <p>Pressure : {{data.pressure}} mb</p>
        <p>Humidity : {{data.humidity}} %</p>
        </div>
        {% endif %}
    </div>
    <div class="home">
        <h3>Real Time Sensor Monitoring </h3>
        {% for i in range(0, len) %}
            <p>Sensor {{i}}</p>       
            <div class="chart" id="bargraph{{i}}">
                <script>
                    // var idv_plot = {{ plot[i] }};
                    var graphs = {{plot[i] | safe}};
                    Plotly.plot('bargraph{{i}}',graphs,{});
                </script>
            </div>
        {% endfor %}
   </div>
   {% endblock %}
</body>
</html>