<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<script>
    function test() {
        let user_id = {{user_info['id']|tojson}};
        let sensorName = document.getElementById("sensorName").value;
        let sensorType = document.getElementById("sensorType").value;

        fetch('user/' + user_id + '/sensors', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ sensorType: sensorType, name: sensorName })
        })
            .then((res) => res.json())
            .then((res) => {
                if (res.success) {
                    window.location.reload();
                } else {
                    alert("Something went wrong. Sorry!")
                }
            })

    }
</script>

<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="profile">
        <h2>Welcome to Home Sensor, {{user_info['given_name']}}!</h2>
    </div>
    <div class="weather">
        {% if data.country_code and data.coordinate and data.temp and data.pressure and data.humidity %}
        <h3>Current Weather in {{data.cityname}}, {{data.country_code}}</h3>
        <div class="col-md-6 col-md-offset-3">
            <p>coordinate : {{data.coordinate}}</p>
            <p>temp (in celcius) : {{data.temp_cel}}</p>
            <p>pressure : {{data.pressure}} mb</p>
            <p>humidity : {{data.humidity}} %</p>
            </div>
        {% endif %}
    </div>
    <div class="management">
        <h3>Add a New Sensor</h3>
        <input id="sensorName" type="text" placeholder="Sensor Name" />
        <select id="sensorType">
            <option value="temperature">Temperature</option>
            <option value="humidity">Humidity</option>
        </select>
        <button onclick="test()">Add Sensor</button>
    </div>
    <div class="home">
        <h3>Real Time Sensor Monitoring </h3>
        {% for plot in plotInfo %}
        <div class="sensor">
            {% set test = 'bargraph' + loop.index|string %}
            <div class="chart" id={{test}}>
                <script>
                    
                    function deleteSensor(sensorType) {       
                        let name = {{plot[1]|tojson}};
                        let user_id = {{user_info['id']|tojson}};
                        fetch('user/' + user_id + '/sensors/delete', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({name: name, sensorType: sensorType})
                        })
                        .then((res) => res.json())
                        .then((res) => {
                            if (res.success) {
                                window.location.reload();
                            } else {
                                alert("Something went wrong. Sorry!")
                            }
                        })
                        
                    }
                    

                    var layout = {
                        title: {
                            text: {{ plot[1] | tojson}}
                        },
                    xaxis: {
                        title: {
                            text: "time"
                        }
                    },
                    yaxis: {
                        title: {
                            text: {{ plot[2] | tojson}}
                        }
                    },
                    }
                    Plotly.plot({{ test }}, {{ plot[0] | safe }}, layout);
                </script>
            </div>
            <button onclick='deleteSensor({{plot[2]|tojson}})'>Delete</button>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>