<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>EC463 SW Miniproject: Home Sensor</title>
  <link rel="stylesheet" href='../static/style.css' />
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="logo">EC463 SW Miniproject: Home Sensor</h1>
      <strong>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('sensor_management') }}">Manage Your Sensors</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
          </ul>
        </nav>
      </strong>
    </div>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>